@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #F0EFEC;
    background-color: #434248;
}

h1,h2,h3 {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
}

/* header and navigation */

header {
    padding: 0 px;
    position: relative;
    top: 0;
    left: 0;
    height: 764px;
    width: 100%
}

#paw-logo {
    float: left; 
    transform: scale(0.7);
    margin-top: -50px;
}

#menu { 
    font-size: larger;
    letter-spacing: 2px;
    padding: 0;
    display: inline-block;
    position: absolute;
}

#menu, #logo {
    line-height: 150px;
}

#menu li {
    display: inline-block; 
    list-style-type: none;
    text-align: center; 
    margin: 50px 0 25px 25px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
    text-align: center;
}

#menu a:hover {
    background-color: rgba(241,152,32,.6);
    border-bottom: 1px solid #F0EFEC;
}

/* background container and image */

.home-page-image {
    background: url(../images/home-page-image.png) no-repeat center center;
    height: 914px;
    width: 100%;
    position: absolute; 
}

/* intro text overlay */

#intro-text {
    color: inherit;
    font-family: Poppins, sans-serif;
    font-size: 110%;
   
    width: 400px;
    height: 300px;
    
    padding: 35px 30px 30px 30px;
    text-align: center;
    
    background-color: rgba(241,152,32,.6);
    border: 1px solid #f19820;
    border-radius: 30px 30px 30px 30px;

    bottom: 0px;
    left: 100px;
   
    position: absolute; 
}

/* footer */

footer {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed 0 0 0 0;
}

.social-links {
    text-align: right; 
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 180%;
    color: #0396a6;
    margin: 25px 25px 25px 0px;
    padding: 0;  
}

#times {
    font-family: Poppins, sans-serif;
    font-size: medium;
    color: #590817;
    margin: 25px 25px 5px 25px;
    padding: 0;
    text-align: left;
    display: inline;
}