@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto+Condensed:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
    color: blue;
}

/* header and navigation */

header {
    padding: 25px;

}

#paw-logo {
    float: left;
    
}

#menu {
    font-size: large;
    letter-spacing: 2px;
    float: right;
    text-decoration: none;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    margin-top: 30px;
}

#menu a {
    text-decoration: none;
}

#home-text {
    overflow: hidden;
}