@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #F0EFEC;
    background-color: #434248;
}

h1,h2,h3 {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
}

/* header and navigation */
 
.paw-logo {
    float: left;  
    margin: 20px 30px 0px 60px;
    padding: 0; 
}

.paw-logo > img {
    height: 280px;
    width: 280px;
}

#menu { 
    font-size: larger;
    letter-spacing: 2px;
    padding: 0;
    margin-left: 35px;
    display: inline-block; 
}

#menu, .paw-logo {
    line-height: 150px;
}

#menu li {
    display: inline-block; 
    list-style-type: none;
    text-align: center; 
    margin: 50px 0 25px 25px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
    text-align: center;
}

#menu a:hover {
    background-color: rgba(241,152,32,.6);
    border-bottom: 1px solid #F0EFEC;
}

.active {
    border-bottom: 1px solid #F0EFEC;
}

/* background image */

#background-image {
    background-image: url(../images/home-page-image.png);
    width: 100%;
    height: 914px;
}

/* intro text overlay */ 

#intro-text {
    color: #F0EFEC;
    font-family: Poppins, sans-serif;
    font-size: 110%;
    width: 400px;
    height: 300px;
    
    padding: 30px 30px 30px 30px;
    text-align: center;
    
    background-color: rgba(21, 77, 92, 0.8);
    border: 1px solid #154D5C;
    border-radius: 10px 10px 10px 10px;

    margin-left: 100px;
    margin-top: 175px;
}

/* footer */

footer {
    background-color: white;
    height: 200px;
    width: 100%;
    margin-bottom: 200px;
    position: absolute;
}

.social-links li {
    display: block;
}

.social-links i{
    font-size: 200%;
    color: #0396a6;
    margin: 100px 50px 0px 0px;
    padding: 0; 
    float: right; 
}

#times {
    font-family: Poppins, sans-serif;
    font-size: medium;
    color: #590817;
    margin: 50px 0px 25px 100px;
    padding: 0;
    float: left;
    display: block;
}

.vl {
    border-left: 2px solid #f19820;
    height: 125px;
    position: relative;
    padding: 0;
    left: 1%;
    top: 50px;
    display: block;
    float: left;
}

#contact-info {
    font-family: Poppins, sans-serif;
    font-size: medium;
    color: #590817;
    margin: 50px 100px 25px 25px;
    padding: 0;
    float: left;
    display: block;
}

/* style properties for content pages */

.info-pages {
    width: 100%;
    height: max-content;
    margin-bottom: 100px;
    padding: 0;
    overflow: hidden;
}

.main-title {
    text-transform: uppercase;
    font-size: 130%;
    color:#f19820;

    margin-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}

/* about us page */

.container-1 {
    display: flex;
    align-items: center;
    width: 75%;
    padding: 0;
    margin-bottom: 50px;
    margin-left: 5%;
}

.textbox-blue {
    color: #f0efec;
    background-color: rgba(3,150,166,.4);
    font-family: Poppins, sans-serif;
    font-size: 100%;
    padding: 75px;
    text-align: left;
}

.image-blue-box {
    width: 100%;
}

.container-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    padding: 0 0 100px 0;
    margin-bottom: 0px;
    margin-left: 10%;
}
.textbox-gold {
    color: #F0EFEC;
    font-family: Poppins, sans-serif;
    background-color: rgba(241,152,32,.4);
    font-size: 100%;
    padding: 75px;
    text-align: left;
}

.image-gold-box {
    width: 100%;
}

#dog1 {
    width: 480px;
    height: 720px;
}

#dogs {
    width: 480px;
    height: 720px;
}
/* dog sitting info page */

#dog-home {
    width: 480px;
    height: 640px;
}

#dog-staff {
    width: 480px;
    height: 719px;
}

.house-icon i{
    color:#590817;
    padding-right: 5px;
}

.hl {
    border-bottom: 2px solid #f19820;
    width: 90%;
    padding: 0;
    top: 250px;
    margin-left: 75px;
    display: block;  
}

#interested {
    margin: 50px 0 25px 50%;
    padding: 0px;
}

#button-for-contact {
   margin: 0 0 0 50%;
   padding: 5px 0px 50px 0px;

}

#button-for-contact a {
    font-family: Poppins, sans-serif;
    font-size: 130%;
    color:#F0EFEC;
    padding: 10px 10px 10px 10px;
    border: solid 1px #F0EFEC;
    background-color: #03515D;
    text-decoration: none; 
}

#button-for-contact a:hover {
    border: solid 1px #f19820;
    background-color: #F0EFEC;
    color: #03515D;
}

/* testimonial page */
/* repeated class selectors to display content in flex boxes */
#testimony1 {
    width: 640px;
    height: 427px;
}

#testimony2 {
    width: 640px;
    height: 427px;
}
/* contact page */

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}
.thank-you-dog > img { 
    width: 600px;
    height: 800px;
    margin: 0px 50px 100px 0px;
}

.contact-form {
    width: 600px;
    margin: 0;
    color: #f0efec;
    background-color: rgba(3,150,166,.4);
    border: 1px solid #f19820;
    margin-right: 25px;
    height: fit-content;
    padding: 40px;
}

#f-name {
    font-size: 120%;
    float: left;
    padding: 5px;
}

#l-name {
    font-size: 120%;
    float: left;
    padding: 5px;
}

#email-address {
    font-size: 120%;
    padding: 5px;
    margin-bottom: 5px;
    float: left; 
}

.input {
    border: 1px solid #F0EFEC;
    width: 90%;
    height: 20px;
    color:#F0EFEC;
    font-size: 105%;
    padding: 5px;
    background: transparent;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 0px;
 }

 .input:hover, .message:hover {
    border: 1px solid rgba(241,152,32,.6);
    background-color: rgba(240, 239, 236, 0.7); 
 }

 .message {
    width: 100%;
    height: 300px;
    font-family: inherit;
    font-size: 105%;
    padding: 10px 10px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 2px solid #F0EFEC;
    border-radius: 2px;
    background-color: #F0EFEC;
    resize: none;
 }

 #message {
    float: left;
 }


 .send {
    font-family: Poppins, sans-serif;
    font-size: 130%;
    color:#F0EFEC;
    padding: 10px 10px 10px 10px;
    border: solid 1px #F0EFEC;
    background-color: #03515D;
    text-decoration: none;
    margin: 10px 0 0 0;
 }

 .send:hover {
     border: solid 1px #f19820;
     background-color: #F0EFEC;
     color: #03515D;
 }
 
 /* media quieries */

/* home page */

/* for larger to medium screen sizes 1120px wide and down */

@media screen and (max-width: 1200px) {
   
   .paw-logo {
       transform: scale(0.8);
       margin: 0;
       padding: 0;
       line-height: 5px;
   }

    #menu {
        font-size: medium;
        padding: 0;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 10px;       
}

    #intro-text {
        margin-bottom: 50px;
}


    #background-image {
    overflow: visible;
}

}